# Repo-Level Owners (in alphabetical order)
# Note: This is only for the notaryproject/meeting-notes repo
* @FeynmanZhou  @iamsamirzon @justincormack @niazfk @priteshbandi @shizhMSFT @stevelasker @toddysm @vaninrao10 @yizha1
